* {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

h1 {
    margin: 10px;
    color: red;
    font-size: 25px;
}

.title {
    color: green;
    font-size: 20px;
}

/*Card*/
.card {
    width: 312px;
    height: 478px;
}

.card div {
    padding: 0 4px;
}

.card img {
    width: 312px;
    height: 400px;
    margin-bottom: 18px;
}

.card P {
    font-size: 16px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: black;
}

.card-name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.card-price {
    display: flex;
    justify-content: space-between;
}