<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>getAll</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Thông tin toàn bộ sản phẩm</h1>

<table border="1">
    <thead class="title">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Brand</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product:${products}">
        <th th:text="${product.id}"></th>
        <th th:text="${product.name}"></th>
        <th th:text="${product.description}"></th>
        <th th:text="${product.price}"></th>
        <th th:text="${product.brand}"></th>
    </tr>
    </tbody>
</table>

<script th:src="@{/js/main.js}"></script>
</body>
</html>