<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie List</title>
    <!-- Link Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Link FontAwesome -->
    <link rel="stylesheet" href="/lib/fontawesome/css/all.css">
    <!-- Link CSS -->
    <link rel="stylesheet" th:href="@{/web-assets/css/style.css}">
</head>
<body>

<!-- Header -->
<header>
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img class="logo" src="/acssec/img/motchill.png" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link text-white" href="#">Trang Chủ</a>
                    <a class="nav-link text-white" href="#">Phim Lẻ</a>
                    <a class="nav-link text-white" href="#">Phim Bộ</a>
                    <a class="nav-link text-white" href="#">Phim Chiếu Rạp</a>
                    <a class="nav-link text-white" href="#">Quốc Gia</a>
                    <a class="nav-link text-white" href="#">Thể Loại</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<!-- Main Content -->
<section class="py-4">
    <div class="container">
        <h3 class="text-uppercase mb-3">Phim Bộ Mới Cập Nhật</h3>
        <div class="row">
            <div class="col-2" th:if="${pageData != null}" th:each="movie : ${pageData.content}">
                <a th:href="@{/phim/{id}/{slug}(id=${movie.id}, slug=${movie.slug})}" class="text-decoration-none text-dark">
                    <div class="movie-item">
                        <div class="movie-poster rounded overflow-hidden">
                            <img th:src="@{${movie.poster}}" alt="Movie Poster"/>
                        </div>
                        <p class="mt-2" th:text="${movie.name}">Movie Name</p>
                    </div>
                </a>
            </div>
        </div>
        <nav aria-label="Page navigation" class="d-flex justify-content-center mt-3">
            <ul class="pagination">
                <li class="page-item" th:classappend="${pageData.hasPrevious()} ? '' : 'disabled'">
                    <a class="page-link" th:if="${pageData.hasPrevious()}" th:href="@{/phim-bo(page=${pageData.number - 1}, limit=${pageData.size})}">Previous</a>
                    <span class="page-link" th:unless="${pageData.hasPrevious()}">Previous</span>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(1, pageData.totalPages)}"
                    th:classappend="${pageData.number + 1 == i} ? 'active'">
                    <a class="page-link" th:href="@{/phim-bo(page=${i}, limit=${pageData.size})}" th:text="${i}">1</a>
                </li>
                <li class="page-item" th:classappend="${pageData.hasNext()} ? '' : 'disabled'">
                    <a class="page-link" th:if="${pageData.hasNext()}" th:href="@{/phim-bo(page=${pageData.number + 1}, limit=${pageData.size})}">Next</a>
                    <span class="page-link" th:unless="${pageData.hasNext()}">Next</span>
                </li>
            </ul>
        </nav>
    </div>
</section>

<!-- Footer -->
<footer class="bg-dark py-4">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <img src="https://motchillj.com/motchill.png?v1.0.2" alt="">
                <p class="text-white mb-0 mt-3">Xem phim online miễn phí chất lượng cao với phụ đề tiếng việt - thuyết minh - lồng tiếng. Mọt phim - Mot chill có nhiều thể loại phim phong phú, đặc sắc, nhiều bộ phim hay nhất - mới nhất.
                    Website Motchill với giao diện trực quan, thuận tiện, tốc độ tải nhanh, thường xuyên cập nhật các bộ phim mới, motphim hứa hẹn sẽ đem lại những trải nghiệm tốt cho người dùng.</p>
            </div>
            <div class="col">
                <div class="text-white">
                    <h5 class="text-uppercase fw-normal mb-3">Danh Mục Phim</h5>
                    <p>Phim Bộ</p>
                    <p>Phim Lẻ</p>
                    <p>Phim Chiếu Rạp</p>
                </div>
            </div>
            <div class="col">
                <div class="text-white">
                    <h5 class="text-uppercase fw-normal mb-3">Danh Mục Phim</h5>
                    <p>Phim Bộ</p>
                    <p>Phim Lẻ</p>
                    <p>Phim Chiếu Rạp</p>
                </div>
            </div>
            <div class="col">
                <div class="text-white">
                    <h5 class="text-uppercase fw-normal mb-3">Danh Mục Phim</h5>
                    <p>Phim Bộ</p>
                    <p>Phim Lẻ</p>
                    <p>Phim Chiếu Rạp</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>
