<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>getId</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Thông tin sản phẩm theo ID </h1>

<table border="1">
    <thead class="title">
    <tr>
        <th>ID</th>

        <th>Description</th>
        <th>Thumbnail</th>


        <th>PriceDiscount</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product:${product}">
        <th th:text="${product.id}"></th>

        <th th:text="${product.description}"></th>
        <th>
            <div class="card">
                <img th:src="${product.thumbnail}" alt="Thumbnail">
                <div>
                    <div class="card-name">
                        <p th:text="${product.name}"></p>
                    </div>
                    <div class="card-price">
                        <p th:text="${product.rating}"></p>
                        <p th:text="${product.price}"></p>
                    </div>
                </div>
            </div>
        </th>


        <th th:text="${product.priceDiscount}"></th>
    </tr>
    </tbody>
</table>

<script th:src="@{/js/main.js}"></script>
</body>
</html>
